<div style="height: 60px;"></div>
<div>
<p class="text"><i>Ranije kupljene karte</i></p>
<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col">Datum izdavanja</th>
        <th scope="col">Cena</th>
        <th scope="col">Pocetno mesto</th>
        <th scope="col">Krajnje mesto</th>
        <th scope="col">Vreme polaska</th>
        <th scope="col">Tip karte</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let t of tickets">
        <td>{{t.dateIssued}}</td>
        <td>{{t.price}}</td>
        <td>{{t.cityStart}}</td>
        <td>{{t.cityEnd}}</td>
        <td>{{t.timeStart}}</td>
        <td>{{t.ticketType}}</td>
      </tr>
    </tbody>
</table>
</div>
