.card{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.add{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: 10rem;
}

.change{
    background-color: #4775a0;
    color: white;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
