<div style="height: 5rem;">
</div>
<p><i>Statistika</i></p>
<button mat-raised-button class="add" (click)="getReport()" >Dnevni izvestaj</button>
<div class="card">
    <table>
        <tr>
            <td>
                <div class="chartFirst">
                    <canvas id="offerInACtiveTenderChart"></canvas>
                </div>
            </td>
            <td>
                <div class="chartSecond">
                    <canvas id="winningPriceChart"></canvas>
                </div>
            </td>
        </tr>
    </table>  
</div>
