<div style="height: 40px;"></div>
<div>
<table>
      <tr>
          <p>Sifra</p>
          <mat-form-field class="inputField"><input type="password" matInput [(ngModel)] = "password"></mat-form-field>
      </tr>
      <tr>
          <p>Ponovo unesi sifru</p>
          <mat-form-field class="inputField"><input matInput  type="password" [(ngModel)] = "passwordRepeat"></mat-form-field>
      </tr>
</table>
<div class="actions">
  <button mat-raised-button class="buttonYes" (click)="change()">Yes</button>
  <button mat-raised-button class="buttonNO" (click)="cancel()">No</button>
  </div>
</div>
