<div >
    <div class="n">
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control me-2" type="text"  placeholder="Pocetno mesto"  [ngModelOptions]="{standalone: true}" [(ngModel)] = "cityStart">
                    <input class="form-control me-2" type="text" placeholder="Krajnje mesto"  [ngModelOptions]="{standalone: true}" [(ngModel)] = "cityEnd">
                    
                    <mat-form-field>
                        <mat-label>Dani u nedelji</mat-label>
                        <mat-select [formControl]="days"> 
                          <mat-select-trigger>
                            {{days.value?.[0] || ''}}
                            <span *ngIf="(days.value?.length || 0) > 1"  >
                              (+{{(days.value?.length || 0) - 1}} {{days.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let day of daysList" [value]="day">{{day}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-raised-button class="searchButton" (click)="search()">Pretrazi</button>
                    <button *ngIf = "hideThis === true" mat-button class="menu-button" (click)="cancel()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </form>
            </div>
        </nav>
    </div>
    <div *ngIf = "hideThis === true">
        <div class="example-card" *ngFor = "let d of departures">
            <div class="card-wrapper" >
                <mat-card class="card">
                <mat-card-header>
                <mat-card-title><b><i>Relacija: </i></b><span >{{d.cityStart}} - {{d.cityEnd}}</span></mat-card-title>   
                </mat-card-header>
                <mat-card-content>
                <p><b>Vreme polaska:</b> {{d.timeStart}}</p>
                <p><b>Vreme dolaska:</b> {{d.timeEnd}}</p>
                <p><b>Cena standardne karte:</b> {{d.price}}</p>
                <p><b>Cena mesecne karte:</b> {{d.price}}</p>
                <div *ngIf = "role === 'ROLE_PASSENGER'">
                    <button mat-raised-button class="button" (click)="buyStandardTicket(d)">Kupi standardnu kartu</button>
                    <button mat-raised-button class="button" (click)="buyMonthlyTicket(d)" style="margin-left: 3%;">Kupi mesecnu kartu</button>
                </div>
                </mat-card-content>
                </mat-card> 
            </div>
        </div>
    </div>
</div>

