<div>
    <button *ngIf="role==='ROLE_PASSENGER'" mat-raised-button class="add" (click)="add()">Dodaj</button>
    <div class="example-card"  *ngFor="let c of comments">
        <div class="card-wrapper" >
            <mat-card class="card">
                    <mat-card-title>
                    </mat-card-title>
            <mat-card-content class="media">
                <img [src]=c.image>
              <h4 style="font-weight: 200; font-style: italic; font-weight: bold; color: #be7434;">{{c.name}} {{c.surname}}</h4>
               <p>{{c.text}}</p>
            </mat-card-content>
            </mat-card> 
        </div>
    </div>
    <hr>
</div>