<hr>
<div class="media">
    <div>
    <img src="../../assets/преузимање.png">
    </div>
    <div class="media-body">
            <h4 style="font-weight: 200; font-style: italic; font-weight: bold; color: #be7434;">Korisnicko ime</h4>
            <p>Sve je super</p>
        <!--<span v-for="g in comment.grade">-->
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        <!--</span>-->
    </div>
</div>
<hr>
