<div class="example-card">
    <mat-card-header>
    <mat-card-title class="title"><i>Registruj se!</i></mat-card-title>   
    </mat-card-header>
    <mat-card-content class="contentCard">
        <div>
            <table>
                <tr>
                    <td>
                        <p>Ime</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.name" ></mat-form-field>
                    </td>
                    <td>
                        <p>Prezime</p>
                        <mat-form-field class="inputField" ><input matInput [(ngModel)] = "user.surname" ></mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Uloga</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.role"></mat-form-field>
                    </td>
                    <td>
                        <p>Telefon</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.telephone"></mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Email</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.email"></mat-form-field>
                    </td>
                    <td>
                        <p>Sifra</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.password"  type="password"></mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Drzava</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.country"></mat-form-field>
                    </td>
                    <td> 
                        <p>Grad</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.city"></mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Ulica</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.street"></mat-form-field>
                    </td>
                    <td> 
                        <p>Broj</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "user.number"></mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
        <div class="actions">
        <button mat-raised-button class="buttonYes" (click)="signUp()">Yes</button>
        <button mat-raised-button class="buttonNO" (click)="cancel()">No</button>
        </div>
    </mat-card-content>
</div>
