<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        h1{
            color: brown;
        }
        .quotation {
            width: 100%;
        }
        .quotation, .quotation th, .quotation td {
            border: 1px solid brown;
            border-collapse: collapse;
        }
        .quotation th {
            background-color: brown;
            color: white;
        }
    </style>
</head>
<body>
<h1>Quotation</h1>
<table>
    <tr>
        <th>Customer</th>
    </tr>
    <tr>
        <td th:text="'Company Name: ' + ${user.name}"></td>
    </tr>
    <tr>
        <td th:text="'Contact Name: ' + ${user.surname}"></td>
    </tr>
</table>
<br />
<p>Slika</p>
    <img width="100" height="100" th:src="@{classpath:static/images/QRCode.png}"/>
<p>Slika</p>
</body>
</html>