<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        h1{
            color: brown;
        }
        .quotation {
            width: 100%;
        }
        .quotation, .quotation th, .quotation td {
            border: 1px solid brown;
            border-collapse: collapse;
        }
        .quotation th {
            background-color: brown;
            color: white;
        }
    </style>
</head>
<body>
<h1>Standard ticket</h1>
<table>
    <tr>
        <th>Passenger</th>
    </tr>
    <tr>
        <td th:text="'Name: ' + ${passenger.name}"></td>
    </tr>
    <tr>
        <td th:text="'Surname: ' + ${passenger.surname}"></td>
    </tr>
    <tr>
        <td th:text="'Telephone number: ' + ${passenger.telephone}"></td>
    </tr>
    <tr>
        <td th:text="'Email: ' + ${passenger.email}"></td>
    </tr>
</table>
<hr/>
<table>
    <tr>
        <th>Ticket info</th>
    </tr>
    <tr>
        <td th:text="'From: ' + ${standardTicket.cityStart}"></td>
    </tr>
    <tr>
        <td th:text="'To: ' + ${standardTicket.cityEnd}"></td>
    </tr>
    <tr>
        <td th:text="'Date issued: ' + ${standardTicket.dateIssued}"></td>
    </tr>
    <tr>
        <td th:text="'Date expiration: ' + ${standardTicket.dateExpiration}"></td>
    </tr>
    <tr>
        <td th:text="'Price: ' + ${standardTicket.price}"></td>
    </tr>
</table>
<img width="200" height="200" th:src="@{classpath:static/images/QRCode.png}"/>
</body>
</html>