<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        h1{
            color: brown;
            margin-left: 40%;
            margin-top: 2%;
            font-size: 25px;
        }
        .text{
            font-size: 25px;
            color: brown;
        }
        .info {
            font-size: 20px;
        }
        .qrcode {
         margin-left: 72%;
        }
        .logo {
            align-content: flex-end;
            margin-left: 90%;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Adresa: Pavla Papa 5</td>
                </tr>
                <tr>
                    <td>21 000, Novi Sad, Srbija</td>
                </tr>
                <tr>
                    <td>Kontakt telefon: 021/352-985</td>
                </tr>
                <tr>
                    <td>Email adresa: busapp@gmail.com</td>
                </tr>
            </table>
        </td>
        <td style="width:500px">
            <img class="logo" width="180" height="180" th:src="@{classpath:static/images/logo.png}"/>
        </td>
    </tr>
</table>
<h1>Mesecna karta</h1>
<table style="margin-top:10%">
    <tr>
        <th class="text"><i>Putnik</i></th>
    </tr>
    <tr>
        <td class="info" th:text="'Ime: ' + ${passenger.name}"></td>
    </tr>
    <tr>
        <td class="info" th:text="'Prezime: ' + ${passenger.surname}"></td>
    </tr>
    <tr>
        <td class="info" th:text="'Broj telefona: ' + ${passenger.telephone}"></td>
    </tr>
    <tr>
        <td class="info" th:text="'Email adresa: ' + ${passenger.email}"></td>
    </tr>
</table>
<hr style="margin-top:5%"/>
<table style="margin-top:5%">
    <tr>
        <th class="text"><i>Detalji o karti</i></th>
    </tr>
    <tr>
        <td class="info" th:text="'Polazna stanica: ' + ${standardTicket.cityStart}"></td>
    </tr>
    <tr>
        <td class="info" th:text="'Krajnja stanica: ' + ${standardTicket.cityEnd}"></td>
    </tr>
    <tr>
        <td class="info" th:text="'Izdata: ' + ${standardTicket.dateIssued}"></td>
    </tr>
    <tr>
        <td class="info" th:text="'Vazi do: ' + ${standardTicket.dateExpiration}"></td>
    </tr>
    <tr>
        <td class="info" th:text="'Cena: ' + ${standardTicket.price}"></td>
    </tr>
</table>
    <img class="qrcode" width="200" height="200" th:src="@{classpath:static/images/QRCode.png}"/>
</body>
</html>