<div class="card" style="margin-right: 100px;margin-left: 100px;background-color: #bbbbbb;">
    <table>
        <tr>
            <td>
                <div class="card" style="width: 400px;margin-top: 20px;margin-right: 20px;margin-left: 40px;">
                    <canvas id="offerInACtiveTenderChart"></canvas>
                </div>
            </td>
            <td>
                <div class="card" style="width: 400px;margin-top: 20px;margin-right: 20px;margin-left: 20px;">
                    <canvas id="winningPriceChart"></canvas>
                </div>
            </td>
        </tr>
    </table>  
</div>
