.chartFirst{
    width: 30rem;
    margin-left: 15%;
    margin-top: 6rem;
}

.chartSecond{
    width: 30rem;
    margin-left: 15%;
    margin-top: 6rem;
}

.card{
    margin-right: 100px;
    margin-left: 100px;
    background-color: aliceblue;
    height: 30rem;
}

p{
    color: #4775a0;
    margin-left: 7%;
    margin-bottom: 2%;
}

.ui-datepicker-calendar {
    display: none;
    }

    
.buttonYes {
    background-color: #4775a0;
    color: white;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 20%;
}
