<mat-toolbar class="toolbar">
    <span class="text"><i>Welcome!</i></span>
    <button mat-raised-button class="login" (click) = "signIn()" >Uloguj se</button>
    <button mat-raised-button class="register" >Registruj se</button>
</mat-toolbar>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/bus-traveling.jpg"  width="100%" height="600rem">
        </div>
        <div class="carousel-item">
            <img src="../../assets/bus-choice.jpg"  width="100%" height="600rem">
        </div>
        <div class="carousel-item">
            <img src="../../assets/bus_lanes.jpg" width="100%" height="600rem" >
        </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <app-all-bus-lines></app-all-bus-lines>