.login {
    margin-left: 80%;
    background-color: #4775a0;
    color: white;
    width: 40%;
}

.register{
    margin-left: 1%;
    margin-right: 1%;
    background-color: #4775a0;
    color: white;
    width: 40%;
}

.toolbar {
    background-color: aliceblue;
}

.text{
    color: #4775a0;
}

