<div style="height: 60px;"></div>
<div>
<p class="text"><i>Zahtevi za registraciju zaposlenih</i></p>
<div class="search">
  <input class="form-control" type="text" [(ngModel)]="searchText" autocomplete="off" placeholder="Pretrazite zahteve">
</div>
<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Broj telefona</th>
        <th scope="col">Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let u of users | filter:searchText">
        <td>{{u.name}}</td>
        <td>{{u.surname}}</td>
        <td>{{u.telephone}}</td>
        <td>{{u.email}}</td>
        <td>
          <button mat-raised-button class="button" (click)="approve(u.id)">Potvrdi</button>
        </td>
        <td>
          <button mat-raised-button class="button" (click)="reject(u.id)">Odbij</button>
        </td>       
      </tr>
    </tbody>
</table>
