<div style="height: 60px;"></div>
<div>
<p class="text"><i>Zahtevi za registraciju zaposlenih</i></p>
<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Broj telefona</th>
        <th scope="col">Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let u of users">
        <td>{{u.name}}</td>
        <td>{{u.surname}}</td>
        <td>{{u.telephone}}</td>
        <td>{{u.email}}</td>
        <td>
          <button mat-raised-button class="button" (click)="approve(u.id)">Posalji kartu na email</button>
        </td>
      </tr>
    </tbody>
</table>
