<div class="example-card">
    <mat-card-header>
    <mat-card-title class="title" *ngIf="add===true"><i>Dodaj novi popust!</i></mat-card-title>   
    <mat-card-title class="title" *ngIf="add===false"><i>Izmeni popust!</i></mat-card-title>   
    </mat-card-header>
    <mat-card-content class="contentCard">
        <div>
            <table>
                <tr>
                    <td>
                        <p>Vrsta popusta</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "discount.discountType" ></mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Procenat</p>
                        <mat-form-field class="inputField"><input matInput [(ngModel)] = "discount.percentage"></mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
        <div class="actions">
        <button mat-raised-button class="buttonYes" (click)="change()">Yes</button>
        <button mat-raised-button class="buttonNO" (click)="cancel()">No</button>
        </div>
    </mat-card-content>
</div>


